/****** Object:  StoredProcedure [dbo].[P_TP30_COLUMNS]    Script Date: 4/16/2021 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_TP30_COLUMNS] AS

--COPY TO CALCULATION STAGE

DROP TABLE IF EXISTS TP3_IRB
DROP TABLE IF EXISTS TP3_ALL_ITEMS

SELECT * 
INTO DBO.TP3_IRB
FROM TP2_IRB

SELECT * INTO DBO.TP3_ALL_ITEMS FROM TP2_CLEARED_ITEMS
UNION 
SELECT * FROM TP2_OPEN_ITEMS



IF COL_LENGTH ('DBO.TP3_IRB','SCAN_DATE_TO_INPUT_DATE') IS NULL AND
   COL_LENGTH ('DBO.TP3_IRB','INPUT_DATE_TO_POSTING_DATE') IS NULL
BEGIN
   ALTER TABLE TP3_IRB
   ADD SCAN_DATE_TO_INPUT_DATE VARCHAR(MAX),
   INPUT_DATE_TO_POSTING_DATE VARCHAR(MAX)
END

IF COL_LENGTH ('DBO.TP3_IRB','EIV_AUTOPOST') IS NULL
BEGIN
	ALTER TABLE TP3_IRB
	ADD EIV_AUTOPOST VARCHAR(MAX)
END

IF COL_LENGTH ('DBO.TP3_IRB','KEY_DATE') IS NULL
BEGIN
	ALTER TABLE TP3_IRB
	ADD KEY_DATE DATE
END

IF COL_LENGTH ('DBO.TP3_IRB','AMOUNT_EUR') IS NULL 
BEGIN
	ALTER TABLE TP3_IRB
	ADD AMOUNT_EUR FLOAT 
END


IF COL_LENGTH ('DBO.TP3_ALL_ITEMS','KEY_DATE') IS NULL
BEGIN
	ALTER TABLE TP3_ALL_ITEMS
	ADD KEY_DATE DATE
END

IF COL_LENGTH ('DBO.TP3_ALL_ITEMS','DUE_DATE') IS NULL 
BEGIN
	ALTER TABLE TP3_ALL_ITEMS
	ADD DUE_DATE VARCHAR(MAX)
END 

IF COL_LENGTH ('DBO.TP3_ALL_ITEMS','ARREARS_AFTER_NET') IS NULL 
BEGIN
	ALTER TABLE TP3_ALL_ITEMS
	ADD ARREARS_AFTER_NET VARCHAR(MAX)
END

IF COL_LENGTH ('DBO.TP3_ALL_ITEMS','TRANSACTION_KEY') IS NULL 
BEGIN
	ALTER TABLE TP3_ALL_ITEMS
	ADD TRANSACTION_KEY VARCHAR(MAX)
END

IF COL_LENGTH ('DBO.TP3_ALL_ITEMS','WHT') IS NULL 
BEGIN
	ALTER TABLE TP3_ALL_ITEMS
	ADD WHT VARCHAR(MAX)
END

IF COL_LENGTH ('DBO.TP3_ALL_ITEMS','DUPLICATE') IS NULL 
BEGIN
	ALTER TABLE TP3_ALL_ITEMS
	ADD DUPLICATE VARCHAR(MAX)
END

GO
