/****** Object:  StoredProcedure [dbo].[P_TP10_IRB]    Script Date: 4/16/2021 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_TP10_IRB] AS 

DROP TABLE IF EXISTS dbo.TP1_IRB

SELECT 
	 IRB.*,
	 OCRLOG.TS_FILENAME, 
	 OCRLOG.TS_FAPIAO_CODE, 
	 EKKO.PURCHASING_GROUP, 
	 EKKO.PO_CREATED_BY, 
	 EKKO.COMPANY_CODE AS PO_COMPANY_CODE,
	 EBAN.REQUISITIONER, 
	 EBAN.PR_CREATOR,
	 COMPANY.COMPANY_NAME, 
	 COMPANY.COMPANY_NAME_SHORT,
	 PURCHASER.PURCHASER_NAME
INTO dbo.TP1_IRB
FROM CLN_FI5000 AS IRB 
	 LEFT JOIN 
	 CLN_OCRLOG AS OCRLOG ON 
	 IRB.OCR_STACK_NAME = OCRLOG.TIF_FILE 
	 LEFT JOIN 
	 CLN_EKKO AS EKKO ON 
	 IRB.PURCHASE_ORDER = EKKO.PURCHASE_ORDER 
	 LEFT JOIN 
	 CLN_EBAN AS EBAN ON 
	 IRB.PURCHASE_ORDER = EBAN.PURCHASE_ORDER
	 LEFT JOIN 
	 CLN_T024 AS PURCHASER ON 
	 EKKO.PURCHASING_GROUP = PURCHASER.PURCHASING_GROUP
	 LEFT JOIN
	 CLN_T001 AS COMPANY ON 
	 IRB.COMPANY_CODE = COMPANY.COMPANY_CODE
GO
