/****** Object:  StoredProcedure [dbo].[P_CLN_T001S]    Script Date: 4/16/2021 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_CLN_T001S] AS

WITH T001S_DUPLICATES AS (
    SELECT *,
        ROW_NUMBER() OVER (
            PARTITION BY 
                COMPANY_CODE, 
				ACCOUNTING_CLERK_NUMBER
            ORDER BY 
			    COMPANY_CODE, 
				ACCOUNTING_CLERK_NUMBER
        ) ROW_NUM
     FROM 
        CLN_T001S
)

DELETE FROM T001S_DUPLICATES
WHERE ROW_NUM > 1

UPDATE CLN_T001S
SET CLN_T001S.SRC_DOWNLOAD_DATE  = SRC.SRC_DOWNLOAD_DATE
FROM CLN_LOAD_DETAILS AS SRC
WHERE TABLE_NAME = 'T001S'
GO
