/****** Object:  StoredProcedure [dbo].[P_STA_EXEC]    Script Date: 4/16/2021 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_STA_EXEC] AS 

EXEC P_STA_IRB_FULL

EXEC P_STA_IRB_MONTHLY

EXEC P_STA_ALL_ITEMS

EXEC P_STA_OPEN_ITEMS_MONTHLY

EXEC P_STA_CREATE_SCHEMA_TABLES 
GO
