/****** Object:  StoredProcedure [dbo].[P_STA_OPEN_ITEMS_MONTHLY]    Script Date: 4/16/2021 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[P_STA_OPEN_ITEMS_MONTHLY] AS

DECLARE @KEYDATE_TP3 DATE
DECLARE @MONTH INT 
SET @MONTH = 0 

SET @KEYDATE_TP3 = (SELECT MAX(KEY_DATE) FROM DBO.TP3_ALL_ITEMS)

DROP TABLE IF EXISTS STA_OPEN_ITEMS_MONTHLY

SELECT 
CLIENT,
	COMPANY_CODE, 
	DOCUMENT_NUMBER, 
	LINE_ITEM,
	VENDOR_NUMBER,
	DOCUMENT_TYPE, 
	SPECIAL_GL_INDICATOR,
	PAYMENT_BLOCK,
	PAYMENT_TERMS, 
	SCB_INDICATOR,
	GL_ACCOUNT,
	CLEARING_DOCUMENT,
	CURRENCY,
	POSTING_DATE,
	CLEARING_DATE,
	AMOUNT_LOCAL,
	AMOUNT_DOCUMENT,
	REFERENCE,
	ITEM_TEXT,
	[YEAR],
	DAYS1,
	DAYS2,
	BASELINE_DATE,
	FILE_PATH,
	DEBIT_CREDIT,
	DOWNLOAD_DATE,
	CLEARING_DOCUMENT_YEAR,
	SRC_DOWNLOAD_DATE,
	VENDOR_NAME,
	ACCOUNTING_CLERK_NUMBER,
	ACCOUNTING_CLERK_NAME,
	ACCOUNTING_CLERK_USER,
	RECONCILIATION_ACCOUNT,
	VENDOR_NAME_CHINESE,
	VENDOR_COUNTRY,
	TRADING_PARTNER,
	COMPANY_NAME,
	CITY,
	COMPANY_NAME_SHORT,
	RUN_ID,
	RUN_DATE,
	DOCUMENT_POSTED_BY,
	REASON,
	REASON_DETAILS,
	CHINA_PUBLIC_HOLIDAY,
	DOMESTIC_3RD_PAYMENT, 
	OVERSEA_3RD_PAYMENT,
	OVERSEA_IC_PAYMENT,
	KEY_DATE,
	DUE_DATE,
	ARREARS_AFTER_NET,
	TRANSACTION_KEY,
	WHT,
	DUPLICATE
INTO DBO.STA_OPEN_ITEMS_MONTHLY
FROM DBO.TP3_ALL_ITEMS
WHERE POSTING_DATE <= @KEYDATE_TP3 AND 
	( CLEARING_DATE IS NULL OR CLEARING_DATE > @KEYDATE_TP3 );


WHILE (@MONTH > -11)
BEGIN 

SET @KEYDATE_TP3 = EOMONTH(DATEADD(MONTH,-1,@KEYDATE_TP3))

INSERT INTO DBO.STA_OPEN_ITEMS_MONTHLY (
CLIENT,
	COMPANY_CODE, 
	DOCUMENT_NUMBER, 
	LINE_ITEM,
	VENDOR_NUMBER,
	DOCUMENT_TYPE, 
	SPECIAL_GL_INDICATOR,
	PAYMENT_BLOCK,
	PAYMENT_TERMS, 
	SCB_INDICATOR,
	GL_ACCOUNT,
	CLEARING_DOCUMENT,
	CURRENCY,
	POSTING_DATE,
	CLEARING_DATE,
	AMOUNT_LOCAL,
	AMOUNT_DOCUMENT,
	REFERENCE,
	ITEM_TEXT,
	[YEAR],
	DAYS1,
	DAYS2,
	BASELINE_DATE,
	FILE_PATH,
	DEBIT_CREDIT,
	DOWNLOAD_DATE,
	CLEARING_DOCUMENT_YEAR,
	SRC_DOWNLOAD_DATE,
	VENDOR_NAME,
	ACCOUNTING_CLERK_NUMBER,
	ACCOUNTING_CLERK_NAME,
	ACCOUNTING_CLERK_USER,
	RECONCILIATION_ACCOUNT,
	VENDOR_NAME_CHINESE,
	VENDOR_COUNTRY,
	TRADING_PARTNER,
	COMPANY_NAME,
	CITY,
	COMPANY_NAME_SHORT,
	RUN_ID,
	RUN_DATE,
	DOCUMENT_POSTED_BY,
	REASON,
	REASON_DETAILS,
	CHINA_PUBLIC_HOLIDAY,
	DOMESTIC_3RD_PAYMENT, 
	OVERSEA_3RD_PAYMENT,
	OVERSEA_IC_PAYMENT,
	KEY_DATE,
	DUE_DATE,
	ARREARS_AFTER_NET,
	TRANSACTION_KEY,
	WHT,
	DUPLICATE)
SELECT 
CLIENT,
	COMPANY_CODE, 
	DOCUMENT_NUMBER, 
	LINE_ITEM,
	VENDOR_NUMBER,
	DOCUMENT_TYPE, 
	SPECIAL_GL_INDICATOR,
	PAYMENT_BLOCK,
	PAYMENT_TERMS, 
	SCB_INDICATOR,
	GL_ACCOUNT,
	CLEARING_DOCUMENT,
	CURRENCY,
	POSTING_DATE,
	CLEARING_DATE,
	AMOUNT_LOCAL,
	AMOUNT_DOCUMENT,
	REFERENCE,
	ITEM_TEXT,
	[YEAR],
	DAYS1,
	DAYS2,
	BASELINE_DATE,
	FILE_PATH,
	DEBIT_CREDIT,
	DOWNLOAD_DATE,
	CLEARING_DOCUMENT_YEAR,
	SRC_DOWNLOAD_DATE,
	VENDOR_NAME,
	ACCOUNTING_CLERK_NUMBER,
	ACCOUNTING_CLERK_NAME,
	ACCOUNTING_CLERK_USER,
	RECONCILIATION_ACCOUNT,
	VENDOR_NAME_CHINESE,
	VENDOR_COUNTRY,
	TRADING_PARTNER,
	COMPANY_NAME,
	CITY,
	COMPANY_NAME_SHORT,
	RUN_ID,
	RUN_DATE,
	DOCUMENT_POSTED_BY,
	REASON,
	REASON_DETAILS,
	CHINA_PUBLIC_HOLIDAY,
	DOMESTIC_3RD_PAYMENT, 
	OVERSEA_3RD_PAYMENT,
	OVERSEA_IC_PAYMENT,
	NULL,
	DUE_DATE,
	ARREARS_AFTER_NET,
	TRANSACTION_KEY,
	WHT,
	DUPLICATE
FROM DBO.TP3_ALL_ITEMS
WHERE POSTING_DATE <= @KEYDATE_TP3 AND 
	( CLEARING_DATE IS NULL OR CLEARING_DATE > @KEYDATE_TP3 );

UPDATE DBO.STA_OPEN_ITEMS_MONTHLY SET KEY_DATE = @KEYDATE_TP3 
WHERE KEY_DATE IS NULL

SET @MONTH = @MONTH -1 
END

UPDATE DBO.STA_OPEN_ITEMS_MONTHLY SET ARREARS_AFTER_NET = DBO.FC_CALCULATE_ARREARS(DUE_DATE,KEY_DATE) 

EXEC o2c.P_EXECUTE_ETL_FUNCTION @IMP_FUNCTION = 'REMOVE_ZERO', @IMP_TABLENAME = 'STA_OPEN_ITEMS_MONTHLY', @schema = 'dbo'
GO
