/****** Object:  StoredProcedure [dbo].[P_TP20_IRB]    Script Date: 4/16/2021 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[P_TP20_IRB] AS 

DROP TABLE IF EXISTS TP2_IRB

SELECT 
	 IRB1.*,
	 TS.TS_ERROR_01, 
	 TS.TS_ERROR_02, 
	 TS.TS_ERROR_03, 
	 TS.TS_ERROR_04, 
	 TS.TS_ERROR_05, 
	 TS.TS_ERROR_06, 
	 TS.TS_ERROR_07, 
	 TS.TS_ERROR_08, 
	 TS.TS_PO_REMARK, 
	 VENDOR.ACCOUNTING_CLERK_NAME, 
	 VENDOR.ACCOUNTING_CLERK_NUMBER, 
	 VENDOR.ACCOUNTING_CLERK_USER, 
	 VENDOR.RECONCILIATION_ACCOUNT,
	 VENDOR.TRADING_PARTNER, 
	 VENDOR.VENDOR_COUNTRY, 
	 VENDOR.VENDOR_NAME, 
	 VENDOR.VENDOR_NAME_CHINESE, 
	 REF.REFERENCE_DOCUMENT, 
	 REF.YEAR_REF_DOC, 
	 REF.REF_DOC_ENTRY_DATE, 
	 REF.REF_DOC_POSTING_DATE, 
	 REF.REF_DOC_CREATED_BY,
	 PO.GR_QUANTITY, 
	 PO.IR_QUANTITY
INTO dbo.TP2_IRB
FROM TP1_IRB AS IRB1
	 LEFT JOIN CLN_TRADESHIFT_INVOICES AS TS ON 
	 IRB1.TS_FAPIAO_CODE = TS.TS_FAPIAO_CODE AND 
	 IRB1.REFERENCE = TS.TS_REFERENCE 
	 LEFT JOIN TP1_VENDOR_DIMENSION AS VENDOR ON 
	 IRB1.VENDOR_NUMBER  = VENDOR.VENDOR_NUMBER AND 
	 IRB1.COMPANY_CODE = VENDOR.COMPANY_CODE 
	 LEFT JOIN TP1_EKBE_REF AS REF ON 
	 IRB1.[YEAR] = REF.YEAR_MAT_DOC AND
	 IRB1.MAT_DOCUMENT_NO = REF.MATERIAL_DOCUMENT
	 LEFT JOIN TP1_EKBE_PO AS PO ON 
	 IRB1.PURCHASE_ORDER = PO.PURCHASE_ORDER
GO
