/****** Object:  StoredProcedure [dbo].[P_CLN_OVERDUE_REASON]    Script Date: 4/16/2021 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_CLN_OVERDUE_REASON] AS

EXEC o2c.P_EXECUTE_ETL_FUNCTION @IMP_FUNCTION = 'ADD_ZERO' , @IMP_TABLENAME = 'CLN_OVERDUE_REASON', @schema = 'dbo';

WITH OVERDUE_DUPLICATES AS (
    SELECT *,
        ROW_NUMBER() OVER (
            PARTITION BY 
                DOCUMENT_NUMBER,
				COMPANY_CODE, 
				[YEAR], 
				LINE_ITEM
            ORDER BY 
				DOCUMENT_NUMBER,
				COMPANY_CODE, 
				[YEAR], 
				LINE_ITEM, 
				KEY_DATE DESC
        ) ROW_NUM
     FROM 
        CLN_OVERDUE_REASON
)

DELETE FROM OVERDUE_DUPLICATES
WHERE ROW_NUM > 1 
GO
