/****** Object:  StoredProcedure [dbo].[P_CLN_REGUP]    Script Date: 4/16/2021 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_CLN_REGUP] AS

UPDATE CLN_REGUP SET PAYMENT_DOCUMENT_YEAR = LEFT(RUN_DATE,4);

WITH REGUP_DUPLICATES AS (
    SELECT *,
        ROW_NUMBER() OVER (
            PARTITION BY 
                PAYMENT_DOCUMENT_YEAR, 
				COMPANY_CODE, 
				PAYMENT_DOCUMENT
            ORDER BY 
				PAYMENT_DOCUMENT_YEAR, 
				COMPANY_CODE, 
				PAYMENT_DOCUMENT 
        ) ROW_NUM
     FROM 
        CLN_REGUP
)

DELETE FROM REGUP_DUPLICATES
WHERE ROW_NUM > 1

UPDATE CLN_REGUP
SET CLN_REGUP.SRC_DOWNLOAD_DATE  = SRC.SRC_DOWNLOAD_DATE
FROM CLN_LOAD_DETAILS AS SRC
WHERE TABLE_NAME = 'REGUP_FSSC_Improvement_Framework'

GO
