/****** Object:  StoredProcedure [dbo].[P_TP3_EXEC]    Script Date: 4/16/2021 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_TP3_EXEC] AS

EXEC P_TP30_COLUMNS

EXEC P_TP30_IRB

EXEC P_TP30_ALL_ITEMS

GO
