/****** Object:  StoredProcedure [dbo].[P_TP10_EKBE]    Script Date: 4/16/2021 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[P_TP10_EKBE] AS

DROP TABLE IF EXISTS #EKBE_Q
DROP TABLE IF EXISTS #EKBE_E
DROP TABLE IF EXISTS TP1_EKBE_PO;
DROP TABLE IF EXISTS TP1_EKBE_REF;

CREATE TABLE #EKBE_Q(
	[PURCHASE_ORDER] [nvarchar](max) NULL,
	[MATERIAL_DOCUMENT] [nvarchar](10) NULL,
	[YEAR_MAT_DOC] [decimal](4, 0) NULL,
	[REFERENCE_DOCUMENT] [nvarchar](10) NULL,
	[YEAR_REF_DOC] [decimal](4, 0) NULL,
	[POSTING_DATE] [date] NULL,
	[ENTRY_DATE] [date] NULL,
	[CREATED_BY] [nvarchar](max) NULL,
	[PO_HISTORY_CATEGORY] [nvarchar](max) NULL,
	[PLANT] [nvarchar](max) NULL,
	[QUANTITY] [decimal](13, 3) NULL,
	[FILE_PATH] [nvarchar](max) NULL,
	[AA_NUMBER] [decimal](2, 0) NULL,
	[MOVEMENT_TYPE] [nvarchar](max) NULL,
	[DOWNLOAD_DATE] [datetime2](7) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]   

CREATE NONCLUSTERED INDEX ekbe_q_ref
    ON #ekbe_q (reference_document, year_ref_doc);   

CREATE TABLE #EKBE_E(
	[PURCHASE_ORDER] [nvarchar](max) NULL,
	[MATERIAL_DOCUMENT] [nvarchar](10) NULL,
	[YEAR_MAT_DOC] [decimal](4, 0) NULL,
	[REFERENCE_DOCUMENT] [nvarchar](10) NULL,
	[YEAR_REF_DOC] [decimal](4, 0) NULL,
	[POSTING_DATE] [date] NULL,
	[ENTRY_DATE] [date] NULL,
	[CREATED_BY] [nvarchar](max) NULL,
	[PO_HISTORY_CATEGORY] [nvarchar](max) NULL,
	[PLANT] [nvarchar](max) NULL,
	[QUANTITY] [decimal](13, 3) NULL,
	[FILE_PATH] [nvarchar](max) NULL,
	[AA_NUMBER] [decimal](2, 0) NULL,
	[MOVEMENT_TYPE] [nvarchar](max) NULL,
	[DOWNLOAD_DATE] [datetime2](7) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
-- for reverse movement types reverse quantity 

CREATE NONCLUSTERED INDEX ekbe_e_ref
    ON #ekbe_e (reference_document, year_ref_doc,ENTRY_DATE DESC, MATERIAL_DOCUMENT DESC );   

UPDATE CLN_EKBE SET QUANTITY = QUANTITY * -1 WHERE DEBIT_CREDIT = 'H' ;

WITH EKBE_SUM_Q AS (
    SELECT 
        *,
		SUM(QUANTITY) OVER (
            PARTITION BY 
                PURCHASE_ORDER
        ) QUANTITY_SUM,
        ROW_NUMBER() OVER (
            PARTITION BY 
			PURCHASE_ORDER 
            ORDER BY 
                PURCHASE_ORDER
        ) ROW_NUM
     FROM 
        CLN_EKBE
	WHERE (PO_HISTORY_CATEGORY = 'Q')
	AND REFERENCE_DOCUMENT <> ''
)

INSERT INTO #EKBE_Q ( 
	 [PURCHASE_ORDER]
	,[MATERIAL_DOCUMENT] 
	,[YEAR_MAT_DOC] 
	,[REFERENCE_DOCUMENT]
	,[YEAR_REF_DOC] 
	,[POSTING_DATE]  
	,[ENTRY_DATE] 
	,[CREATED_BY] 
	,[PO_HISTORY_CATEGORY] 
	,[PLANT] 
	,[QUANTITY] 
	,[FILE_PATH]
	,[AA_NUMBER]
	,[MOVEMENT_TYPE] 
	,[DOWNLOAD_DATE] 
)
SELECT 
	[PURCHASE_ORDER]
	,[MATERIAL_DOCUMENT] 
	,[YEAR_MAT_DOC] 
	,[REFERENCE_DOCUMENT]
	,[YEAR_REF_DOC] 
	,[POSTING_DATE]  
	,[ENTRY_DATE] 
	,[CREATED_BY] 
	,[PO_HISTORY_CATEGORY] 
	,[PLANT] 
	,[QUANTITY_SUM] 
	,[FILE_PATH]
	,[AA_NUMBER]
	,[MOVEMENT_TYPE] 
	,[DOWNLOAD_DATE] 
	FROM EKBE_SUM_Q;

WITH EKBE_SUM_E AS (
    SELECT 
        *,
		SUM(QUANTITY) OVER (
            PARTITION BY 
                PURCHASE_ORDER
        ) QUANTITY_SUM,
        ROW_NUMBER() OVER (
            PARTITION BY 
			PURCHASE_ORDER 
            ORDER BY 
                PURCHASE_ORDER
        ) ROW_NUM
     FROM 
        CLN_EKBE
	WHERE PO_HISTORY_CATEGORY = 'E'
		AND REFERENCE_DOCUMENT <> ''
)

INSERT INTO #EKBE_E ( 
	 [PURCHASE_ORDER]
	,[MATERIAL_DOCUMENT] 
	,[YEAR_MAT_DOC] 
	,[REFERENCE_DOCUMENT]
	,[YEAR_REF_DOC] 
	,[POSTING_DATE]  
	,[ENTRY_DATE] 
	,[CREATED_BY] 
	,[PO_HISTORY_CATEGORY] 
	,[PLANT] 
	,[QUANTITY] 
	,[FILE_PATH]
	,[AA_NUMBER]
	,[MOVEMENT_TYPE] 
	,[DOWNLOAD_DATE] 
)
SELECT 
	[PURCHASE_ORDER]
	,[MATERIAL_DOCUMENT] 
	,[YEAR_MAT_DOC] 
	,[REFERENCE_DOCUMENT]
	,[YEAR_REF_DOC] 
	,[POSTING_DATE]  
	,[ENTRY_DATE] 
	,[CREATED_BY] 
	,[PO_HISTORY_CATEGORY] 
	,[PLANT] 
	,[QUANTITY_SUM] 
	,[FILE_PATH]
	,[AA_NUMBER]
	,[MOVEMENT_TYPE] 
	,[DOWNLOAD_DATE] 
	FROM EKBE_SUM_E;

WITH EKBE_Delete_suplicates AS (
    SELECT 
        *,
        ROW_NUMBER() OVER (
            PARTITION BY 
			REFERENCE_DOCUMENT,
			YEAR_REF_DOC
            ORDER BY 
            REFERENCE_DOCUMENT, 
			YEAR_REF_DOC,
			ENTRY_DATE DESC,
			MATERIAL_DOCUMENT DESC
        ) ROW_NUM
     FROM 
        #EKBE_E
	WHERE PO_HISTORY_CATEGORY = 'E'
)

DELETE FROM EKBE_Delete_suplicates
where ROW_NUM > 1

SELECT Q.MATERIAL_DOCUMENT, 
	   Q.YEAR_MAT_DOC, 
	   Q.PURCHASE_ORDER,
	   E.MATERIAL_DOCUMENT as REFERENCE_DOCUMENT,
	   E.YEAR_REF_DOC as YEAR_REF_DOC,
	   E.ENTRY_DATE as REF_DOC_ENTRY_DATE,
	   E.POSTING_DATE as REF_DOC_POSTING_DATE,
	   E.CREATED_BY as REF_DOC_CREATED_BY,
	   E.QUANTITY as GR_QUANTITY,
	   Q.QUANTITY as IR_QUANTITY
INTO DBO.TP1_EKBE_REF FROM #EKBE_Q AS Q
LEFT OUTER JOIN #EKBE_E AS E ON 
Q.REFERENCE_DOCUMENT = E.REFERENCE_DOCUMENT AND 
Q.YEAR_REF_DOC = E.YEAR_REF_DOC;

SELECT * INTO dbo.TP1_EKBE_PO FROM TP1_EKBE_REF; 

WITH EKBE_REF_DEL_DUPLICATES AS (
    SELECT 
        *,
        ROW_NUMBER() OVER (
            PARTITION BY 
                YEAR_MAT_DOC, 
                MATERIAL_DOCUMENT
            ORDER BY 
                YEAR_MAT_DOC,
				MATERIAL_DOCUMENT, 
				REF_DOC_ENTRY_DATE DESC
        ) ROW_NUM
     FROM 
     TP1_EKBE_REF
)

DELETE FROM EKBE_REF_DEL_DUPLICATES
WHERE ROW_NUM > 1;

WITH EKBE_PO_DEL_DUPLICATES AS (
    SELECT 
        *,
        ROW_NUMBER() OVER (
            PARTITION BY 
                PURCHASE_ORDER
            ORDER BY 
                PURCHASE_ORDER
        ) ROW_NUM
     FROM 
     TP1_EKBE_PO
)

DELETE FROM EKBE_PO_DEL_DUPLICATES
WHERE ROW_NUM > 1

DROP TABLE IF EXISTS #EKBE_Q
DROP TABLE IF EXISTS #EKBE_E

GO
