/****** Object:  StoredProcedure [dbo].[P_TP10_VENDOR_DIM]    Script Date: 4/16/2021 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_TP10_VENDOR_DIM] AS

DROP TABLE IF EXISTS TP1_VENDOR_DIMENSION

SELECT  
		VENDOR.CLIENT, 
		VENDOR.COMPANY_CODE, 
		VENDOR.VENDOR_NUMBER, 
		CONCAT(VENDOR.VENDOR_NAME1,' ', VENDOR.VENDOR_NAME2) AS VENDOR_NAME,
		VENDOR.ACCOUNTING_CLERK_NUMBER, 
		VENDOR.RECONCILIATION_ACCOUNT, 
		VENDOR.VENDOR_COUNTRY, 
		VENDOR.TRADING_PARTNER,
		CONCAT(NAMECN.NAME1, ' ', NAMECN.NAME2) AS VENDOR_NAME_CHINESE, 
		CLERK.ACCOUNTING_CLERK_NAME, 
		CLERK.ACCOUNTING_CLERK_USER
INTO DBO.TP1_VENDOR_DIMENSION 
FROM CLN_VF_KRED AS VENDOR 
	 LEFT OUTER JOIN 
	 CLN_T001S AS CLERK ON 
	 VENDOR.ACCOUNTING_CLERK_NUMBER = CLERK.ACCOUNTING_CLERK_NUMBER AND 
	 VENDOR.COMPANY_CODE = CLERK.COMPANY_CODE 
	 LEFT OUTER JOIN
	 CLN_ADRC AS NAMECN ON 
	 NAMECN.ADDRESS_NUMBER = VENDOR.ADDRESS_NUMBER

UPDATE TP1_VENDOR_DIMENSION SET VENDOR_NAME_CHINESE = VENDOR_NAME
WHERE VENDOR_NAME_CHINESE = ''
GO
