/****** Object:  StoredProcedure [dbo].[P_CLN_T024]    Script Date: 4/16/2021 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_CLN_T024] AS

WITH T024_DUPLICATES AS (
    SELECT *,
        ROW_NUMBER() OVER (
            PARTITION BY 
				PURCHASING_GROUP
            ORDER BY 
				PURCHASING_GROUP
        ) ROW_NUM
     FROM 
        CLN_T024
)

DELETE FROM T024_DUPLICATES
WHERE ROW_NUM > 1

UPDATE CLN_T024
SET CLN_T024.SRC_DOWNLOAD_DATE  = SRC.SRC_DOWNLOAD_DATE
FROM CLN_LOAD_DETAILS AS SRC
WHERE TABLE_NAME = 'T024'
GO
