/****** Object:  StoredProcedure [dbo].[P_CLN_VF_KRED]    Script Date: 4/16/2021 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_CLN_VF_KRED] AS

WITH VF_KRED_DUPLICATES AS (
    SELECT *,
        ROW_NUMBER() OVER (
            PARTITION BY 
				COMPANY_CODE, 
				VENDOR_NUMBER
            ORDER BY 
				COMPANY_CODE, 
				VENDOR_NUMBER 
        ) ROW_NUM
     FROM 
        CLN_VF_KRED
)

DELETE FROM VF_KRED_DUPLICATES
WHERE ROW_NUM > 1

UPDATE CLN_VF_KRED
SET CLN_VF_KRED.SRC_DOWNLOAD_DATE  = SRC.SRC_DOWNLOAD_DATE
FROM CLN_LOAD_DETAILS AS SRC
WHERE TABLE_NAME = 'VF_KRED'
GO
