/****** Object:  StoredProcedure [dbo].[P_STA_ALL_ITEMS]    Script Date: 4/16/2021 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_STA_ALL_ITEMS] AS 

DROP TABLE IF EXISTS STA_ALL_ITEMS

DECLARE @max_clearing_date as date 

SET @max_clearing_date = (Select EOMONTH(MAX(CLEARING_DATE)) from TP3_ALL_ITEMS)

SELECT 
	CLIENT,
	COMPANY_CODE, 
	DOCUMENT_NUMBER, 
	LINE_ITEM,
	VENDOR_NUMBER,
	DOCUMENT_TYPE, 
	SPECIAL_GL_INDICATOR,
	PAYMENT_BLOCK,
	PAYMENT_TERMS, 
	SCB_INDICATOR,
	GL_ACCOUNT,
	CLEARING_DOCUMENT,
	CURRENCY,
	POSTING_DATE,
	CLEARING_DATE,
	AMOUNT_LOCAL,
	AMOUNT_DOCUMENT,
	REFERENCE,
	ITEM_TEXT,
	[YEAR],
	DAYS1,
	DAYS2,
	BASELINE_DATE,
	FILE_PATH,
	DEBIT_CREDIT,
	DOWNLOAD_DATE,
	CLEARING_DOCUMENT_YEAR,
	SRC_DOWNLOAD_DATE,
	VENDOR_NAME,
	ACCOUNTING_CLERK_NUMBER,
	ACCOUNTING_CLERK_NAME,
	ACCOUNTING_CLERK_USER,
	RECONCILIATION_ACCOUNT,
	VENDOR_NAME_CHINESE,
	VENDOR_COUNTRY,
	TRADING_PARTNER,
	COMPANY_NAME,
	CITY,
	COMPANY_NAME_SHORT,
	RUN_ID,
	RUN_DATE,
	DOCUMENT_POSTED_BY,
	REASON,
	REASON_DETAILS,
	CHINA_PUBLIC_HOLIDAY,
	DOMESTIC_3RD_PAYMENT, 
	OVERSEA_3RD_PAYMENT,
	OVERSEA_IC_PAYMENT,
	KEY_DATE,
	DUE_DATE,
	ARREARS_AFTER_NET,
	TRANSACTION_KEY,
	WHT,
	DUPLICATE
INTO dbo.STA_ALL_ITEMS 
FROM TP3_ALL_ITEMS

DELETE FROM STA_ALL_ITEMS WHERE 
CLEARING_DATE <= DATEADD(MONTH,-1,DATEADD(YEAR,-1,@max_clearing_date)) and CLEARING_DATE is not null 

EXEC o2c.P_EXECUTE_ETL_FUNCTION @Imp_Function = 'REMOVE_ZERO', @Imp_TableName = 'STA_ALL_ITEMS', @schema = 'dbo'
GO
