/****** Object:  StoredProcedure [dbo].[P_TP20_OPEN_ITEMS]    Script Date: 4/16/2021 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[P_TP20_OPEN_ITEMS] AS

DROP TABLE IF EXISTS dbo.TP2_OPEN_ITEMS 

SELECT  
	OI.*,
	VENDOR.VENDOR_NAME, 
	VENDOR.ACCOUNTING_CLERK_NUMBER, 
	VENDOR.ACCOUNTING_CLERK_NAME,
	VENDOR.ACCOUNTING_CLERK_USER, 
	VENDOR.RECONCILIATION_ACCOUNT,
	VENDOR.VENDOR_NAME_CHINESE,
	VENDOR.VENDOR_COUNTRY,
	VENDOR.TRADING_PARTNER,
	COMPANY.COMPANY_NAME,
	COMPANY.CITY, 
	COMPANY.COMPANY_NAME_SHORT,
	RUNS.RUN_ID,
	RUNS.RUN_DATE,
	BKPF.DOCUMENT_POSTED_BY, 
    OVERDUE.REASON, 
	OVERDUE.REASON_DETAILS,
	CAL.CHINA_PUBLIC_HOLIDAY,
	CAL.DOMESTIC_3RD_PAYMENT, 
	CAL.OVERSEA_3RD_PAYMENT, 
	CAL.OVERSEA_IC_PAYMENT
INTO dbo.TP2_OPEN_ITEMS 
FROM CLN_BSIK AS OI 
	 LEFT JOIN 
	 TP1_VENDOR_DIMENSION AS VENDOR ON 
	 OI.VENDOR_NUMBER = VENDOR.VENDOR_NUMBER AND 
	 OI.COMPANY_CODE = VENDOR.COMPANY_CODE 
	 LEFT JOIN
	 CLN_T001 AS COMPANY ON OI.COMPANY_CODE = COMPANY.COMPANY_CODE
	 LEFT JOIN
	 CLN_REGUP AS RUNS ON 
	 OI.CLEARING_DOCUMENT = RUNS.PAYMENT_DOCUMENT AND 
	 OI.CLEARING_DOCUMENT_YEAR = RUNS.PAYMENT_DOCUMENT_YEAR AND 
	 OI.COMPANY_CODE = RUNS.COMPANY_CODE
	 LEFT JOIN 
	 CLN_BKPF AS BKPF ON 
	 OI.DOCUMENT_NUMBER = BKPF.DOCUMENT_NUMBER AND
	 OI.[YEAR] =  BKPF.FISCAL_YEAR AND 
	 OI.COMPANY_CODE = BKPF.COMPANY_CODE 
	 LEFT JOIN 
	 CLN_OVERDUE_REASON AS OVERDUE ON 
	 OI.DOCUMENT_NUMBER = OVERDUE.DOCUMENT_NUMBER AND
	 OI.COMPANY_CODE = OVERDUE.COMPANY_CODE AND
	 OI.[YEAR] = OVERDUE.[YEAR] AND 
	 OI.LINE_ITEM = OVERDUE.LINE_ITEM 
	 LEFT JOIN 
	 CLN_PAYMENT_CALENDAR AS CAL ON
	 OI.CLEARING_DATE = CAL.DATES
GO
