/****** Object:  StoredProcedure [dbo].[P_CLN_BSAK]    Script Date: 4/16/2021 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_CLN_BSAK] AS 

-- DEDUPLICATE PRIMARY KEYS 

WITH BSAK_DUPLICATES AS (
    SELECT *,
        ROW_NUMBER() OVER (
            PARTITION BY 
                COMPANY_CODE, 
                DOCUMENT_NUMBER, 
				[YEAR], 
				LINE_ITEM
		    ORDER BY 
		        COMPANY_CODE, 
                DOCUMENT_NUMBER, 
				[YEAR], 
				LINE_ITEM
        ) ROW_NUM
     FROM 
        CLN_BSAK
)

DELETE FROM BSAK_DUPLICATES
WHERE ROW_NUM > 1

UPDATE CLN_BSAK
SET CLN_BSAK.SRC_DOWNLOAD_DATE  = SRC.SRC_DOWNLOAD_DATE
FROM CLN_LOAD_DETAILS AS SRC
WHERE TABLE_NAME = 'BSAK'

UPDATE CLN_BSAK SET CLEARING_DOCUMENT_YEAR = RIGHT(LEFT(CLEARING_DATE,10),4);
GO
