/****** Object:  StoredProcedure [dbo].[P_CLN_PAYMENT_CALENDAR]    Script Date: 4/16/2021 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_CLN_PAYMENT_CALENDAR] AS

WITH CALENDAR_DUPLICATES AS (
    SELECT *,
        ROW_NUMBER() OVER (
            PARTITION BY 
                DATES
            ORDER BY 
				DATES
        ) ROW_NUM
     FROM 
        CLN_PAYMENT_CALENDAR
)

DELETE FROM CALENDAR_DUPLICATES
WHERE ROW_NUM > 1
GO
