/****** Object:  Table [dbo].[ING_ADRC]    Script Date: 4/16/2021 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ING_ADRC](
	[ADDRESS_NUMBER] [nvarchar](max) NULL,
	[NATION] [nvarchar](max) NULL,
	[NAME1] [nvarchar](max) NULL,
	[NAME2] [nvarchar](max) NULL,
	[FILE_PATH] [nvarchar](max) NULL,
	[DOWNLOAD_DATE] [datetime2](7) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
