/****** Object:  StoredProcedure [dbo].[P_STA_CREATE_SCHEMA_TABLES]    Script Date: 4/16/2021 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_STA_CREATE_SCHEMA_TABLES] AS 

DROP TABLE IF EXISTS DBO.STA_ALL_ITEMS_SCHEMA
SELECT TOP(500)* INTO DBO.STA_ALL_ITEMS_SCHEMA FROM DBO.STA_ALL_ITEMS

DROP TABLE IF EXISTS DBO.STA_IRB_FULL_SCHEMA
SELECT TOP(500)* INTO DBO.STA_IRB_FULL_SCHEMA FROM DBO.STA_IRB_FULL

DROP TABLE IF EXISTS DBO.STA_IRB_MONTHLY_SCHEMA
SELECT TOP(500)* INTO DBO.STA_IRB_MONTHLY_SCHEMA FROM DBO.STA_IRB_MONTHLY

DROP TABLE IF EXISTS DBO.STA_OPEN_ITEMS_MONTHLY_SCHEMA
SELECT TOP(500)* INTO DBO.STA_OPEN_ITEMS_MONTHLY_SCHEMA FROM DBO.STA_OPEN_ITEMS_MONTHLY


GO
