/****** Object:  StoredProcedure [dbo].[P_CLN_LOAD_DETAILS]    Script Date: 4/16/2021 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_CLN_LOAD_DETAILS] AS

WITH LOAD_DETAILS_DUPLICATES AS (
    SELECT *,
        ROW_NUMBER() OVER (
            PARTITION BY 
				TABLE_NAME
		    ORDER BY 
				TABLE_NAME,
                DOWNLOAD_DATE DESC
        ) ROW_NUM
     FROM 
        CLN_LOAD_DETAILS
)

DELETE FROM LOAD_DETAILS_DUPLICATES
WHERE ROW_NUM > 1

UPDATE CLN_LOAD_DETAILS SET TABLE_NAME = SUBSTRING(TABLE_NAME,5,LEN(TABLE_NAME))
GO
