/****** Object:  Table [o2c].[ing_vbuk]    Script Date: 4/16/2021 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [o2c].[ing_vbuk](
	[delivery_nr] [nvarchar](max) NULL,
	[delivery_status] [nvarchar](max) NULL,
	[gi_status] [nvarchar](max) NULL,
	[billing_status] [nvarchar](max) NULL,
	[file_path] [nvarchar](max) NULL,
	[download_date] [datetime2](7) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
