/****** Object:  Table [o2c].[currency]    Script Date: 4/16/2021 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [o2c].[currency](
	[currency1] [nvarchar](10) NULL,
	[currency2] [nvarchar](10) NULL,
	[exchangerate] [float] NULL
) ON [PRIMARY]
GO
