/****** Object:  Table [o2c].[ing_fi1000]    Script Date: 4/16/2021 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [o2c].[ing_fi1000](
	[business_division] [nvarchar](255) NULL,
	[business_unit] [nvarchar](255) NULL,
	[company_code] [nvarchar](255) NULL,
	[credit_control_area] [nvarchar](255) NULL,
	[customer_number] [nvarchar](255) NULL,
	[division] [nvarchar](255) NULL,
	[ar_month_0] [float] NULL,
	[ar_month_1] [float] NULL,
	[ar_month_2] [float] NULL,
	[ar_month_3] [float] NULL,
	[ar_month_4] [float] NULL,
	[ar_month_5] [float] NULL,
	[ar_month_6] [float] NULL,
	[ar_month_7] [float] NULL,
	[ar_month_8] [float] NULL,
	[ar_month_9] [float] NULL,
	[ar_month_10] [float] NULL,
	[ar_month_11] [float] NULL,
	[ar_month_12] [float] NULL,
	[sales_month_0] [float] NULL,
	[sales_month_1] [float] NULL,
	[sales_month_2] [float] NULL,
	[sales_month_3] [float] NULL,
	[sales_month_4] [float] NULL,
	[sales_month_5] [float] NULL,
	[sales_month_6] [float] NULL,
	[sales_month_7] [float] NULL,
	[sales_month_8] [float] NULL,
	[sales_month_9] [float] NULL,
	[sales_month_10] [float] NULL,
	[sales_month_11] [float] NULL,
	[sales_month_12] [float] NULL,
	[overdue_month_0] [float] NULL,
	[overdue_month_1] [float] NULL,
	[overdue_month_2] [float] NULL,
	[overdue_month_3] [float] NULL,
	[overdue_month_4] [float] NULL,
	[overdue_month_5] [float] NULL,
	[overdue_month_6] [float] NULL,
	[overdue_month_7] [float] NULL,
	[overdue_month_8] [float] NULL,
	[overdue_month_9] [float] NULL,
	[overdue_month_10] [float] NULL,
	[overdue_month_11] [float] NULL,
	[overdue_month_12] [float] NULL,
	[monthyearfrom] [nvarchar](255) NULL,
	[src_download_date] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
